<script>
  const storeUserCroveAuthToken = (response) => {
    localStorage.setItem("CROVE_AUTH_TOKEN", response.token);
    console.log(localStorage.getItem("CROVE_AUTH_TOKEN"))
    document.body.style.overflow = 'auto';
    document.getElementById('loading').classList.remove("active");
    google.script.run.openModalTemplate('Workflow');
  }

  const listTemplates = (data) => {
    if(data) {
      let templates = data.results;
      templates.forEach((template, index) => {
        let templateDiv = document.createElement("div");
        templateDiv.innerHTML = template.name
        document.getElementById("pre-made-templates").appendChild(templateDiv);
      })
    } else {
        alert('run')
        let templateDiv = document.createElement("div");
        templateDiv.innerHTML = `<p>No crove templates available.</p>`
        document.getElementById("pre-made-templates").appendChild(templateDiv);
    }
  }

  const generateWorkflowFrame = () => {
    handleGenerateWorkflowHeader();
    handleCancelWorkflow();
  }

  const runHomePageEventHandlers = () => {
    document.getElementById('create-workflow').addEventListener('click', ()=> {
      document.getElementById('workflow-home').style.display = "block";
      generateWorkflowFrame()
    })
    document.getElementById('switch-input').addEventListener('click', (el) => {
      if(el.target.checked){
        document.getElementById("pre-made-templates").style.display = "block";
      } else {
        document.getElementById("pre-made-templates").style.display = "none";
      }
    })
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    // if(!localStorage.getItem("CROVE_AUTH_TOKEN")) {
    //   document.body.style.overflow = 'hidden';
    //   document.getElementById('loading').classList.add("active");
    //   google.script.run.withSuccessHandler((authToken)=>{
    //     google.script.run.withSuccessHandler(
    //       storeUserCroveAuthToken
    //     ).registerOrLogInUserToOnyx(authToken)
    //   }).getAuthenticationToken()
    // }
    runHomePageEventHandlers();
  });

</script>