<div class="header">
  <span>
    <svg width="44" height="42" viewBox="0 0 64 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 32.4047L19.164 21.8752L41.2586 28.6422L0 32.4047Z" fill="#415ED1"/>
      <path d="M16.9131 21.1865L49.6247 21.8358L41.2377 28.6347L16.9131 21.1865Z" fill="#597EF7"/>
      <path d="M33.8979 13.5564L16.9131 21.1866L49.6247 21.8359L33.8979 13.5564Z" fill="#85A5FF"/>
      <path d="M33.8984 13.5564L44.5662 3.84131L49.6251 21.8359L33.8984 13.5564Z" fill="#597EF7"/>
      <path d="M53.6879 15.0182L44.5664 3.84131L49.6253 21.8359L53.6879 15.0182Z" fill="#415ED1"/>
      <path d="M53.6879 6.29588L44.5664 3.84131L53.6879 15.0182V6.29588Z" fill="#597EF7"/>
      <path d="M44.5664 3.84136L53.6879 6.29593L48.4143 0L44.5664 3.84136Z" fill="#2C41AB"/>
      <path d="M53.6877 1.93476V6.29593L48.4141 0L53.6877 1.93476Z" fill="#415ED1"/>
      <path d="M63.7784 3.61987L53.6719 6.29588V3.84131L63.7784 3.61987Z" fill="#415ED1"/>
      <path d="M53.6875 1.93481V3.84142L63.779 3.61998L53.6875 1.93481Z" fill="#85A5FF"/>
      <path d="M27.7354 29.6838L35.2352 32.3335V36.173L38.9832 35.5199L41.2377 28.6348L27.7354 29.6838Z" fill="#2C41AB"/>
      <path d="M40.9497 39.0461L40.477 40.2734L35.2354 36.1731L38.9834 35.52L40.9497 39.0461Z" fill="#85A5FF"/>
      <path d="M46.4793 41.6584L39.7949 41.527L40.4767 40.2734L40.9495 38.9148L46.4793 41.6584Z" fill="#2C41AB"/>
    </svg>
  </span>
  <p>Crove</p>
</div>
