<div id="loading" class="position-absolute">
  <div class="animation">
    <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_b88nh30c.json" background="transparent"  speed="1" loop autoplay>
    </lottie-player>
  </div>
  <p>Crove is loading, please wait...</p>
</div>
