<script>
  const handleGenerateWorkflowHeader = () => {
    const generateWorkflowHeader = new Promise((resolve, reject) => {
      let parentTag = document.getElementById('step-list');
      let workflowStepsData = [
        { index: "01", name: "Source", includeSvg: false },
        { index: "02", name: "Conditions", includeSvg: true },
        { index: "03", name: "Tasks", includeSvg: true },
        { index: "04", name: "Save", includeSvg: true },
        { index: "05", name: "Run", includeSvg: true }
      ]
      workflowStepsData.forEach((step) => {
        let main = `
          <div class="header-item">
            <div class="step">
              <div class="icon">
                <span>${step.index}</span>
              </div>
              <div class="ms-2 text">${step.name}</div>
            </div>
          </div>
        `        
        let svg = `
          <div class="svg-wrapper h-100" aria-hidden="true">
              <svg class="h-100 w-100" viewBox="0 0 12 82" fill="none" preserveAspectRatio="none">
                <path d="M0.5 0V31L10.5 41L0.5 51V82" stroke="currentcolor" vector-effect="non-scaling-stroke"></path>
              </svg>
          </div>
        `
        if(step.includeSvg) main = main + svg;
        let stepHTMLNode = document.createElement("li");
        stepHTMLNode.innerHTML = main;
        parentTag.appendChild(stepHTMLNode);
        resolve(true);
      });
    });

    generateWorkflowHeader.then((isLoaded) => {
      if(isLoaded){
        handleActiveHeaderStep();
      }
    });
  }

  const handleCancelWorkflow = () => {
    document.getElementById('cancel-worflow-edit').addEventListener('click', () => {
      document.getElementById('workflow-home').style.display = "none";
      document.getElementById('step-list').innerHTML = ``;
    })
  }

  const handleActiveHeaderStep = () => {
    let headerItems = document.querySelectorAll(".header-item");
    let activeHeaderItem = headerItems[0];
    activeHeaderItem.classList.add("active");
    headerItems.forEach((item) => {
      item.addEventListener('click', (el)=>{
        if(activeHeaderItem != item)
          activeHeaderItem.classList.remove("active");
        item.classList.add("active");
        activeHeaderItem = item;
      })
    })
  }

  const runWorkflowEventHandlers = () => {
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    // generateWorkflowHeader.then((isLoaded) => {
    //   if(isLoaded){
    //     handleActiveHeaderStep();
    //   }
    // });
    runWorkflowEventHandlers();
  });
</script>